/* ########################### */
/* 变量 */

$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$side: left;
$selector: .selector;
body {
    font: 100% $font-stack;
    color: $primary-color;
    border-$(side)-radius: 5px;
}
$selector {}

/* 运算 */
$a: 10;
$b: 10;
article {
    width: calc(600px + 960px - 100px * 4 / 2);
    left: calc(600px + 1rem);
    height: calc($a + $b);
}

/* 嵌套 */
nav {
    a {
        display: block;
        &:hover {
            color: #ffb3ff;
        }
        span {
            text-decoration: none;
        }
    }
    &.test {
        padding: 6px 12px;
    }
}

/* if else */
body {
    @if 3 < 5 {
        background: green;
    }
    @else {
        background: blue;
    }
}

/* each */
@each $icon in foo, bar, baz {
    .icon-$(icon) {
        background: url('icons/$(icon).png');
    }
}

/* for */
@for $i from 1 to 3 {
    .b-$i {
        width: $(i)px;
    }
}

/* mixin */
@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

.box {
    @include transform(rotate(30deg));
}

/* extend */
%message-shared {
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
}

.message {
    @extend %message-shared;
}

.success {
    @extend %message-shared;
    border-color: green;
}

/* function */
@define-function rem($val) {
    @return $val / 640 * 10 * 1rem;
}
@callFn .foo {
    /* Input example */
    height: rem(640);
}
