.test-autoprefix
    display: flex

    transform: scale(0.5)
    transform-origin: 50% 50% 0
    perspective: none
    perspective-origin: 50% 50%

    transition: 1s
    
    animation: none 0s ease 0s 1 normal none running
    backface-visibility: visible
    
    columns: auto
    column-count: auto
    column-fill: balance
    column-gap: normal
    column-span: 1
    column-width: auto

    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%)

    ::placeholder
        color: gray

